<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Курсова работа</title>
</head>
<body>
<pre style="font-size: 18pt;">
    Я Каляпіна Євгенія Олександрівна,
    студентка 3 курсу групи 6.04.122.010.20.2 факультету ІТ
    Зробила курсову роботу на тему
    «Розроблення прогрмного продукту для роботи з файловою базою даних про нарахування зарплати співробітникам підприємства.»

    Ви можете подивится на базу данних за цим <a href="{% url 'employee' %}">посиланням.</a>
</pre>
</body>
</html>